flask
flask-cors
nba_api
requests
beautifulsoup4
pandas
selenium
pytz
Pillow
lxml
certifi
urllib3
idna
chardet
openpyxl
python-dateutil
six
pyparsing
soupsieve
Jinja2
Werkzeug
itsdangerous
click
markupsafe 
gunicorn
